body {
  background-color: rgb(180, 217, 233);
  margin: 0px;
  line-height: 35px;
}
h1 {
  background-color: rgb(25, 153, 204);
  margin: 0px;
  padding: 10px;
  text-align: center;
  color: white;
}
span {
  display: block;
}
div {
  padding: 10px 20px;
  width: 20%;
  height: 500px;
  background-color: rgb(66, 190, 239);
}
